.btn-round {
    color: grey;
    border-radius: 3em;
    border: 2px solid grey;
    opacity: 1;
    transition: .4s;
}

button:hover {
    opacity: .8;
}

.email-list button {
    min-width: 2px;
    min-height: 2px;
    height: 2em;
    width: 2em;
}