/** @format */
button {
  /* transition: 0.4s; */
  position: relative;
}

.btn-round {
  color: grey;
  border-radius: 3em;
  border: 2px solid grey;
  opacity: 1;
}

.btn-close:hover {
  opacity: 0.8;
}

.btn-edit{
  grid-row: 1 / span 2;

}

.email-list .btn-close {
  min-width: 2px;
  min-height: 2px;
  height: 2em;
  width: 2em;
}

.btn-compose {
  z-index: 3;
  /* background-color: var(--secondary-clr2); */
  background-color: #c2dbffd0;
  box-shadow: inset 0 -3px 0 0 rgb(100 121 143 / 12%);
  border-radius: 0.5em;
  color: var(--clr4);
  border: none;
  transition: 0.4s;
}

.btn-compose:hover {
  box-shadow: inset 2px 2px 0 var(--secondary-clr2), inset -2px -2px 0 var(--secondary-clr2),
    0 2px 2px 0 rgb(60 64 67 / 30%), 0 2px 3px 2px rgb(60 64 67 / 15%);
    padding-inline-end: 6.5em;
}

.btn-compose:hover::after {
  content: " Compose";
  position: absolute;
  right: 1em;
}

.btn-send {
  /* justify-self: center; */
  max-width: 10em;
  color: grey;
  border-radius: 2em;
  border: 2px solid grey;
  /* opacity: 1; */

  transition: 0.4s;
}

.btn-send:hover {
  max-width: 12em;
  color: #27ae60;
  border: 2px solid #27ae60;
  box-shadow: inset 2px 2px 0 #dadce0, inset -2px -2px 0 #dadce0,
    0 1px 2px 0 rgb(60 64 67 / 30%), 0 -1px -3px -2px rgb(60 64 67 / 15%);
  padding-inline-end: 2.5em;
}

.btn-send:hover::after {
  content: " →";
  position: absolute;
  right: 2em;
}

.email-list .btn-close {
  position: absolute;
  margin-block-start: 0.3em;
  top: 10%;
  left: 96%;
}

/* .note-article .btn-close {
position: absolute;
top: 1%;
left: 1%;
} */
