/** @format */

.btn-round {
  color: grey;
  border-radius: 3em;
  border: 2px solid grey;
  opacity: 1;
  transition: 0.4s;
}

.btn-close:hover {
  opacity: 0.8;
}

.email-list .btn-close {
  min-width: 2px;
  min-height: 2px;
  height: 2em;
  width: 2em;
}
