.keep-index {
    background-color: #5aaccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1em;

}

.note-list {
    width: 100%;
    display: grid;
    justify-content: space-between;
    padding: 1em;
    gap: 0.825em;
}

.note-list .pinned {
    grid-row: 1;
}

.note-list :not(.pinned) {
    grid-row: 2;
}

.note-list .note-card {
    margin: 0;
    position: relative;
    display: block;
    display: grid;
    max-width: 65%;
    /* width: 100%;  */
    grid-template-columns: 1fr;
    justify-content: space-between;
    gap: 1em;
    padding: 10px;
}

.note-list li {
    max-width: 2050px ;
    border-radius: 1em;
    border: 2px solid grey;
    padding: .825em;
    background: #d5aa73;
}

.note-article {
    position: relative;
    /* display: grid; */
}

/* .notes-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
} */
.notes-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    padding: 10px;
    border-radius: 1em;
    border: 2px solid grey;
}

.nav-edit-note {
    flex-flow: column;
}

.note-img img{
    max-height: 200px;
}