.book-filter {
    display: flex;
    padding: 10px;
    justify-content: center;
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
      0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    /* background-color: var(--clr1bg-dark); */
    border-radius: 1em;
}
.book-filter input {
    border: none;
    border-radius: .5em;
    background-color: #ffffff7b;
   outline: none;
  }
  
  .book-filter input:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
      0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  }
  
  .book-filter input:focus {
    box-shadow: inset 2px 2px 0 #c0cde7, inset -2px -2px 0 #b4bfd4,
      0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  }