/** @format */

.form-compose {
  height: 50vh;
  border-radius: 1em;
  margin-inline: 10px;
  border: var(--secondary-clr4) solid;
  font-family: roboto;
  display: grid;
  grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 2fr;
  background: radial-gradient(
    ellipse at bottom,
    var(--secondary-clr1) -20%,
    var(--secondary-clr2) 130%
  );
  /* background-color: var(--secondary-clr2); */
  padding: 1em;
}

.form-compose input {
  outline: none;
  border-radius: 1.2em;
  border: 2px solid grey;

}
.form-compose input:hover {
  box-shadow: inset 18px 18px 11px #dadce0, inset -18px -18px 11px #dadce0,
    0 3px 3px 0 rgb(60 64 67 / 30%), 0 2px 3px 2px rgb(60 64 67 / 15%);
}
.form-compose input:focus {
  
  box-shadow: inset 4px 4px 1px #dadce0, inset -4px -4px 1px #dadce0,
    0 3px 3px 0 rgb(60 64 67 / 30%), 0 2px 3px 2px rgb(60 64 67 / 15%);
}
